@model webproject1920_Bruelemans_Darwyn_Tack_Joshua.ViewModels.StadionVM

@{
    ViewData["Title"] = "Stadion Details";
}

<h1>StadionView</h1>

<div>
    <h4>StadionVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsLh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsLh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsLa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsLa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsLme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsLme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsLmw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsLmw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsUh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsUh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsUa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsUa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsUme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsUme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsUmw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatsUmw)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
